@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import 'tailwindcss';

@theme {
  /* Neutral */
  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);

  /* Orange */

  --color-orange-500: hsl(28, 100%, 52%);

  /* Blue */

  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);

  /* fonts */

  --font-DM-sans: 'DM Sans';
  --font-Bricolage-Grotesque: 'Bricolage Grotesque';

  --breakpoint-xxs: 20rem;
  --breakpoint-xs: 25rem;
}
.dropdown-menu-section {
  @apply flex flex-col items-start gap-1 border-b w-full py-5;
}
.dropdown-menu-last-section {
  @apply flex flex-col items-start gap-2  w-full pt-5;
}
.dropdown-menu-btn {
  @apply text-sm text-neutral-100 text-start p-2 w-full rounded-md flex justify-between items-center;
}

.dropdown-menu-active {
  @apply bg-neutral-700;
}
.dropdown-menu-btn-section {
  @apply w-full gap-1 flex flex-col;
}
/* scrollbar */

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: hsl(243, 23%, 30%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(243, 27%, 20%);
}
/* loader */


.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}