@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import 'tailwindcss';

body {
  height: 100dvh;
  width: 100%;
}
@theme {
  /* Neutral */
  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);

  /* Orange */

  --color-orange-500: hsl(28, 100%, 52%);

  /* Blue */

  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);

  /* fonts */

  --font-DM-sans: 'DM Sans';
  --font-Bricolage-Grotesque: 'Bricolage Grotesque';
}
.dropdown-menu-section {
  @apply flex flex-col items-start gap-1 border-b w-full py-5;
}
.dropdown-menu-last-section {
  @apply flex flex-col items-start gap-2  w-full pt-5;
}
.dropdown-menu-btn {
  @apply text-sm text-neutral-100 text-start p-2 bg-neutral-700 w-full rounded-md;
}
.dropdown-menu-btn-section {
  @apply w-full gap-1 flex flex-col;
}
.small-weather-card-bg {
  @apply bg-[url("src/assets/images/bg-today-small.svg")] bg-center bg-cover  object-cover;
}
.large-weather-card-bg {
  @apply bg-[url("src/assets/images/bg-today-large.svg")]  bg-center bg-cover object-contain;
}
